body {
  background-color: #f4f4f4;
  color: #555;
  margin-top: 10px;
  
}


// .nav-link {
//   display: block;
//   padding: 0.5rem 1rem;
//   color: #0dfd19;
//   text-decoration: none;
//   /* transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out; */
// }
// .nav-link:hover, .nav-link:focus {
//   color: #0a58ca;
// }

/* .nav-link.active {
  color: #fff !important;
  background: orange !important
}

.navbar-nav>.active>a {
  color: #fff;
  background: orange
} */

.navbar-nav span {
  position: absolute;
  top: 50px;
  left: 350px;
  /* border: 2px solid #ff0; */
  background-color:rgb(200, 9, 82);
  font-size: 12pt;
  color: #fff;
  padding: 10px;
  height: 50px;
  display: none;
  font-weight: bold;
  border-radius: 15px;
 
}

.navbar-nav li:hover span {
  display: block;
}


.navbar {
  margin-bottom: 20px
}

.card {
  padding: 10px;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  text-align: center;
}

.bg-primary {
  background-color: #d61977dd!important;
}

.bg-success {
  background-color: #6aa84f!important;
}

.bg-secondary {
  background-color: #4f6aa8!important;
}

.navbar-collapse ul li a .navToolTip{
  
}
